/Programação Sequencial/genL01ex02/nbproject/private/
/Programação Sequencial/genL01ex02/build/
/Programação Sequencial/genL01ex03/nbproject/private/
/Programação Sequencial/genL01ex03/build/
/Programação Sequencial/genL01ex03/dist/
/Programação Sequencial/L01ex04/nbproject/private/
/Programação Sequencial/genL01ex04/nbproject/private/
/Programação Sequencial/genL01ex04/build/
/Programação Sequencial/genL01ex05/nbproject/private/
/Programação Sequencial/genL01ex05/build/
/Programação Sequencial/L01ex06/nbproject/private/
/Programação Sequencial/L01ex06/build/
/Programação Sequencial/genL01ex07/nbproject/private/
/Programação Sequencial/genL01ex07/build/
/Programação Sequencial/genL01ex08/nbproject/private/
/Programação Sequencial/genL01ex08/build/
/Exercícios de Repetição/genL02ex01/nbproject/private/
/Exercícios de Repetição/genL02ex01/build/
/Exercícios de Repetição/GenL02ex02/nbproject/private/
/Exercícios de Repetição/GenL02ex02/build/
/Exercícios de Repetição/GenL02ex03/nbproject/private/
/Exercícios de Repetição/GenL02ex03/build/
/Exercícios de Repetição/GenL02ex04/nbproject/private/
/Exercícios de Repetição/GenL02ex04/build/
/Exercícios de Repetição/GenL02ex05/nbproject/private/
/Exercícios de Repetição/GenL02ex05/build/